<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ControlPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MainAudioName" value="Speakers (Intel SST Audio Device (WDM))"/>
    <add key="SecondAudioName" value="Headphones (JAMBOX by Jawbone Stereo)"/>
    <add key="DailyAlarm" value="7:20"/>
    <add key="DailyAlarmEnable" value="true"/>
    <add key="MainAudioProgram" value="shell:AppsFolder\NPROne.NPROne_301e00acq7vap!App"/>
    <add key="OfflineAudioFolder" value=""/>
  </appSettings>
  <startup> 
      
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <ControlPanel.Properties.Settings>
      <setting name="MainAudio" serializeAs="String">
        <value>Speakers (Intel SST Audio Device (WDM))</value>
      </setting>
      <setting name="SecondaryAudio" serializeAs="String">
        <value>Headphones (JAMBOX by Jawbone Stereo)</value>
      </setting>
      <setting name="AlarmApp" serializeAs="String">
        <value>shell:AppsFolder\NPROne.NPROne_301e00acq7vap!App</value>
      </setting>
      <setting name="OfflineAlarmSound" serializeAs="String">
        <value />
      </setting>
      <setting name="DailyAlarm" serializeAs="String">
        <value>08/10/2017 07:20:00</value>
      </setting>
      <setting name="DailyAlarmEnable" serializeAs="String">
        <value>True</value>
      </setting>
    </ControlPanel.Properties.Settings>
  </applicationSettings>
</configuration>

